.main-banner{
    background-color: #E8F6FA;
}
.main-banner .banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.main-banner .banner-section .content{
    width: 50%;
}
.main-banner .banner-section .img{
    width: 50%;
    text-align: right;
}
.main-banner .banner-section .img img{
    width: 100%;
}
.banner-section .content h1{  
    font-size: 32px;
    max-width: 320px;
    font-weight: bold;
}
.banner-section .content .details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.banner-section .content .flex-column{
    display: flex;
}
.banner-section .content h3{
    margin: 0;
}
.banner-section .content p{
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}
.banner-section .content svg{
    font-size: 22px;
    color: #04A6C2;
    margin-top: 7px;
}
.banner-section .content .text{
    margin-left: 15px;
}
.banner-section .content button{
    background: #04A6C2;
    border: none;
    padding: 13px 30px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #04A6C2;
    cursor: pointer;
    margin-top: 30px;
    transition: .5s;
}
.banner-section .content button:hover{
    border: 2px solid #04A6C2;
    color: black;
    background-color: transparent;
}

@media screen and (max-width: 1100px) {
    .main-banner .banner-section .content{
        width: 60%;
    }
    .main-banner .banner-section .img{
        width: 40%;
    }
}
@media screen and (max-width: 992px) {
    .banner-section .content h1 {
        max-width: 100%;
    }
    .main-banner .banner-section{
        display: block;
        padding: 30px 0;
    } 
    .main-banner .banner-section .content{
        width: 100%;
    }
    .main-banner .banner-section .img{
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }
    .main-banner .banner-section .img img{
        width: 500px;
    }
}
@media screen and (max-width: 576px) {
    .main-banner .banner-section .img img{
        width: 100%;
    }
    .banner-section .content .details {
        grid-template-columns: repeat(1, 1fr);
    }
}